<template>
  <div class="add-smoothie container">
    <h2 class="center-align indigo-text">Add new smoothie recipe</h2>
    <form @submit.prevent="addSmoothie">
      <div class="field title">
        <label for="title">Smoothie Title</label>
        <input type="text" name="title" v-model="title">
      </div>
      <div class="field add-ingredient">
        <label for="add-ingredient">Add an ingredient (tab to separate)</label>
        <input type="text" name="add-ingredient" @keydown.tab.prevent="addIng" v-model="another">
      </div>
      <div class="field ingredients">
        <span v-for="(ing, idx) in ingredients" :key="idx" class="badge indigo white-text">{{ ing }}</span>
      </div>
      <div class="field centr-align">
        <p v-if="feedback" class="red-text">{{ feedback }}</p>
        <button class="btn pink">Add Smoothie</button>
      </div>
    </form>
  </div>
</template>

<script>
import slugify from 'slugify';
import db from '../firebase/init';

export default {
  name: 'AddSmoothie',
  data() {
    return {
      title: null,
      another: null,
      ingredients: [],
      feedback: null,
      slug: null,
    };
  },
  methods: {
    addSmoothie() {
      if (this.title) {
        this.feedback = null;

        this.slug = slugify(this.title, {
          replacement: '-',
          remove: /[$*_+~.()'"!\-:@]/g,
          lower: true,
        });

        db.collection('smoothies')
          .add({
            title: this.title,
            ingredients: this.ingredients,
            slug: this.slug,
          })
          .then(() => {
            this.$router.push({ name: 'Home' });
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        this.feedback = 'You must enter a smoothie title';
      }
    },
    addIng() {
      if (this.another) {
        this.ingredients.push(this.another);
        this.another = null;
        this.feedback = null;
      } else {
        this.feedback = 'You must enter a value to add an ingredient';
      }
    },
    deleteIng(ing) {
      this.ingredients = this.ingredients.filter((i) => i !== ing);
    },
  },
};
</script>

<style lang='scss' scoped>
.add-smoothie {
  margin-top: 60px;
  padding: 20px;
  max-width: 500px;

  h2 {
    font-size: 2em;
    margin: 20px auto;
  }

  .field {
    margin: 20px auto;
  }

  .ingredients {
    display: flex;
    justify-content: left;
  }

  label {
    font-size: 1em;
  }

  .badge {
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    line-height: 0;
    height: auto;
  }
}
</style>
