<template>
  <div v-if="smoothie" class="edit-smoothie container">
    <h2>Edit {{ smoothie.title }}</h2>
    <form @submit.prevent="editSmoothie">
      <div class="field title">
        <label for="title">Smoothie Title</label>
        <input type="text" name="title" v-model="smoothie.title">
      </div>
      <div class="field add-ingredient">
        <label for="add-ingredient">Add an ingredient (tab to separate)</label>
        <input type="text" name="add-ingredient" @keydown.tab.prevent="addIng" v-model="another">
      </div>
      <div class="field ingredients">
        <span
          v-for="(ing, idx) in smoothie.ingredients"
          :key="idx"
          class="badge indigo white-text"
        >{{ ing }}</span>
      </div>
      <div class="field centr-align">
        <p v-if="feedback" class="red-text">{{ feedback }}</p>
        <button class="btn pink">Update Smoothie</button>
      </div>
    </form>
  </div>
</template>

<script>
import slugify from 'slugify';
import db from '../firebase/init';

export default {
  name: 'EditSmoothie',
  data() {
    return {
      smoothie: null,
      another: null,
      feedback: null,
    };
  },
  created() {
    const ref = db
      .collection('smoothies')
      .where('slug', '==', this.$route.params.slug);
    ref.get().then((snapshot) => {
      snapshot.forEach((doc) => {
        this.smoothie = doc.data();
        this.smoothie.id = doc.id;
      });
    });
  },
  methods: {
    editSmoothie() {
      if (this.smoothie.title) {
        this.feedback = null;

        this.smoothie.slug = slugify(this.smoothie.title, {
          replacement: '-',
          remove: /[$*_+~.()'"!\-:@]/g,
          lower: true,
        });

        db.collection('smoothies')
          .doc(this.smoothie.id)
          .update({
            title: this.smoothie.title,
            ingredients: this.smoothie.ingredients,
            slug: this.smoothie.slug,
          })
          .then(() => {
            this.$router.push({ name: 'Home' });
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        this.feedback = 'You must enter a smoothie title';
      }
    },
    addIng() {
      if (this.another) {
        this.smoothie.ingredients.push(this.another);
        this.another = null;
        this.feedback = null;
      } else {
        this.feedback = 'You must enter a value to add an ingredient';
      }
    },
    deleteIng(ing) {
      this.smoothie.ingredients = this.smoothie.ingredients.filter(
        (i) => i !== ing
      );
    },
  },
};
</script>

<style lang='scss' scoped>
.edit-smoothie {
  margin-top: 60px;
  padding: 20px;
  max-width: 500px;

  h2 {
    font-size: 2em;
    margin: 20px auto;
  }

  .field {
    margin: 20px auto;
  }

  .ingredients {
    display: flex;
    justify-content: left;
  }

  label {
    font-size: 1em;
  }

  .badge {
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    line-height: 0;
    height: auto;
  }
}
</style>
